<div class='landing-container'>
  <h1 class='text-center font-weight-bold'>Bienvenid@ a SSCatFact! <%= @user.username %></h1>
  <h5 class='text-center'>A continuación te presentaremos algunos catFacts aleatorios :3</h5>
  <div class='row justify-content-center'>
    <%= link_to 'Cerrar sesión', logout_path, class: 'btn btn-danger' %>
  </div>
</div>
<div class='container-fluid d-flex justify-content-center mt-2'>
  <div class='login-card'>
    <h2><%= @fact %></h5>
  </div>
</div>
