<div class='col-12 offset-0 col-lg-6 offset-lg-3 mt-2'>
  <% @most_liked.each_with_index do |fact, i| %>
    <div class='base-card mb-2'>
      <div class='row'>
        <div class='col-1 border-right'>
          <h1><%= i + 1 %></p>
        </div>
        <div class='col-11'>
          <p><%= fact['description'] %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>