<div class='container-fluid m-0 p-0'>
  <div class='landing-container'>
    <div class='row layout-row'>
      <div class='col-5'>
        <h1 class='text-right'><b>SS</b>CatFacs</h1>
        <h3 class='text-right'>Acá podrás encontrar tus Cat Facts favoritos</h5>
      </div>
      <div class='col-7'>
        <div class='d-flex justify-content-center'>
          <div class='login-card landing-card'>
            <div class='d-flex flex-column h-100'>
              <h2 class='text-center mt-4'>Crear usuario</h3>
              <div class='row justify-content-center mb-4 mx-2 h-100'>
                <%= form_for(@user, html: { class: 'd-flex flex-column w-100' }) do |user| %>
                  <div class='form-group mt-4 <%= 'mb-0' if @errors.present? %>'>
                    Username:
                    <%= user.text_field :username, class: 'form-control' %>
                  </div>
                  <% if @errors.present? %>
                    <p class='text-danger'><%= @errors %></p>
                  <% end %>
                  <input type='submit' value='Crear' class='btn btn-success w-100 mt-auto'/>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>