@import 'bootstrap';

.landing-container {
  background-color: rgb(245, 247, 252);
  padding: 15px;
}

.login-card {
  height: 50vh;
  width: 50vh;
  background-color: rgb(245, 247, 252);
  box-shadow: 4px 4px 37px #201a1a66;
  padding: 25px !important;
  border-radius: 20px;
}