@import 'bootstrap';

.landing-container {
  color: rgb(255, 255, 255);
  padding: 15px;
  min-height: 100vh;
  background: linear-gradient(152deg, rgb(196, 118, 255) 0%, rgb(187, 197, 238) 100%);
  width: 100% !important;
  margin: 0 !important;
  h1 {
    font-size: 10em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .row {
    &.layout-row {
      align-items: center;
      min-height: 80vh;
    }
  }
}

.base-card {
  background-color: rgb(245, 247, 252);
  color: rgb(98, 98, 98);
  padding: 25px !important;
  border-radius: 20px;
  box-shadow: 4px 4px 37px #201a1a66;
}

.login-card {
  @extend .base-card;

  height: 50vh;
  width: 50vh;
  &.landing-card {
    height: 30vh;
    width: 30vh;
  }
}

.sscat-nav {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(152deg, rgb(196, 118, 255) 0%, rgb(187, 197, 238) 100%);
}